# SPDX-FileCopyrightText: 2026 The dynG Authors
# SPDX-License-Identifier: Apache-2.0
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{cpp,hpp,cu,cuh,h,c}]
max_line_length = 100

[*.py]
indent_size = 4
max_line_length = 100

[{Makefile,*.mk}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
