# SPDX-FileCopyrightText: 2026 The dynG Authors
# SPDX-License-Identifier: Apache-2.0
* text=auto eol=lf
*.sh text eol=lf
*.png binary
*.gz binary
# A parser fixture with CRLF line ends on purpose (CycleEnumeration-GPU treats '\r' as a blank).
cpp/tests/data/cycle_enum/parser/mixed.txt -text
